<h1><%= @message %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Is featured</th>
      <th>Released at</th>
      <th>Average rating</th>
      <% if current_user.is_admin %>
        <th>Actions</th>
      <% end %>
      <th>
        <%= form_tag @path, :method => "get", :class => "form-inline" do %>
          <div class="form-group">
            <label>Filter By Genre :</label>
            <%= collection_select :movie, :genre_id, Genre.all, :id, :name, {:prompt => true}, { :class => "form-control" } %>
          </div>
          <%= submit_tag "filter", class: "btn btn-success" %>
        <% end %>
<!--         <select>
          <option value="all">All</option>
          <#% @genres.each do |genre| %>
            <option value="<#%= genre.name %>"><#%= genre.name %></option>
          <#% end %>
        </select> -->
      </th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to  movie.name, movie %></td>
        <td><%= movie.is_featured %></td>
        <td><%= movie.released_at %></td>
        <td><%= movie.average_rating %></td>
        <% if current_user.is_admin %>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin %>
<%= link_to 'New Movie', new_movie_path %>
<% end %>