<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Is featured:</strong>
  <%= @movie.is_featured %>
</p>

<p>
  <strong>Released at:</strong>
  <%= @movie.released_at %>
</p>

<p>
  <strong>Average rating:</strong>
  <span class="average_rating">
    <%= @movie.average_rating %>
  </span>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director.name %>
</p>

<p>
  <strong>Actors:</strong>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Genres:</strong>
  <ul>
    <% @movie.genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
</p>

<% if @movie.reviews %>
  <p><strong>Reviews:</strong></p>
  <div class="reviews-list">
    <%= render @movie.reviews, movie: @movie %>
  </div>
<% end %>

<%= render 'reviews/form', movie: @movie %>
<% if current_user.is_admin %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
<% end %>
<%= link_to 'Back', movies_path %>

